[v-cloak] {
    display: none !important;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #282c34;
    /* background-image: url(http://datav.jiaminghi.com/demo/construction-data/img/bg.837e99ea.png); */
    background-image: url(../img/background.png);
}

.border-box-content {
    color: #09e0e9;
    font-weight: bold;
    padding: 12px;
}

div.echarts {
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
}
